<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wyq6D99tlHTzp5i9SGK3SzzVo5T4Cc7EFA" crossorigin="anonymous">
    <style>
        body {
            background-image: url('https://th.bing.com/th?id=OIP.I393BTGtMl_iPld6IvId5QHaEu&w=312&h=199&c=8&rs=1&qlt=90&o=6&dpr=1.7&pid=3.1&rm=2');
            /* Add the path to your background image */
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>

            <h1 class="fw-bold text-center text-white display-1">Thank You</h1>

        </div>
    </div>
</body>

</html>