<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="mb-4 text-center">{{ currentQuestion.topic }}</h1>
            <h2 class="mb-3 text-center">{{ currentQuestion.question }}</h2>
            <div class="row" *ngIf="currentQuestionIndex < 11">
                <div class="col-md-6">
                    <app-survey-question [question]="surveyQuestions[0]" [enabled]="nextQue"
                        (answer)="onAnswer1($event)"></app-survey-question>
                </div>
                <div class="col-md-6">
                    <app-survey-question [question]="surveyQuestions[1]" [enabled]="nextQue"
                        (answer)="onAnswer2($event)"></app-survey-question>
                </div>
            </div>
            <div class="row" *ngIf="currentQuestionIndex == 11">
                <h1>Survey Page</h1>
      <div>
        <span *ngFor="let value of ratings" (click)="setRating(value)" [class.selected]="value <= selectedRating">
          {{ value }}
        </span>
      </div>
      <p>Selected Rating: {{ selectedRating }}</p>
            </div>
            <div class="text-center mt-4">
                <button class="btn btn-primary" (click)="onNextClick()">Next</button>
            </div>
        </div>
    </div>
</div>